doctype html
html
    head    
        title HTML, CSS and JS
        meta(name="description" content="HTML replica of w3s")
        link(rel="stylesheet", href="style.css")
        body
         header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") JavaScript

        article
            h1 This is a replica of w3schools.com
            p E misto omu. #[a(href="/") See awesomeness happening!]
            h2 HTML
            p Web build language #[a(href="/html") See awesomeness happening!]
            h2 CSS
            p Styling language#[a(href="/css") See awesomeness happening!]
            h2 JavaScript
            p Programming web language#[a(href="/javascript") See awesomeness happening!]
nav
            h3 HTML and CSS
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") JavaScript
            
footer &copy; 2017 My name is Julius!